fastapi
uvicorn
gunicorn
google-cloud-resource-manager
google-cloud-datastore
google-cloud-compute
google-cloud-org-policy
google-api-python-client
google-cloud-securitycenter
google-cloud-securitycentermanagement
google-cloud-network-management
google-cloud-dns
protobuf==3.20.3
python-dotenv
google-cloud-aiplatform
